@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');


.nav-container {
	font-family: 'Merriweather', serif;
}

.nav-background {
	background: #00b4fc;
	animation: shadow-animation 1s ease-in-out infinite;
}

.selected{
	color: aquamarine !important;
}

@keyframes shadow-animation {
	0%,100%{
		box-shadow: 0px 0px 20px #00b4fc;
	}
	50%{
		box-shadow: 0px 0px 10px #00b4fc;
	}
}

