@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1c2130;
  scroll-behavior: smooth;
}

.section-title {
  position: relative;
}

.section-title h1 {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 4px;
}
.section-title h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px #00b4fc;
}
.section-title h1:nth-child(2) {
  color: #00b4fc;
  animation: waveAnim 2s ease-in-out infinite;
}

@keyframes waveAnim {
  0%,
  100% {
    clip-path: polygon(
      0 58%,
      19% 51%,
      36% 45%,
      53% 51%,
      70% 59%,
      81% 63%,
      92% 57%,
      99% 55%,
      100% 99%,
      1% 99%
    );
  }
  50% {
    clip-path: polygon(
      0 65%,
      18% 65%,
      36% 64%,
      54% 60%,
      70% 52%,
      80% 48%,
      90% 51%,
      99% 55%,
      100% 99%,
      1% 99%
    );
  }
}

@media only screen and (max-width: 600px) {
  .section-title {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 600px) {
  .section-title {
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 769px) {
  .section-title {
    margin-bottom: 80px;
  }
}
